<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employees</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Employee ID</th>
        <th> <a style="color: purple" (click)="getSortedEmployeesList('NAME')">
          Name
        </a></th>
        <th>Email</th>
        <th> <a style="color: purple" (click)="getSortedEmployeesList('HIRE_DATE')">
          Joining Date
        </a></th>
        <th> <a style="color: purple" (click)="getSortedEmployeesList('SALARY')">
          Salary
        </a></th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.empId}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.hireDate}}</td>
        <td>{{employee.salary}}</td>
        <td><button (click)="getEmployeeDetails(employee.empId)">Employee Details</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
